DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
PUPPETEER_EXECUTABLE_PATH=""

ADMIN_USERNAME="admin"
ADMIN_PASSWORD="change-me"
ADMIN_DISPLAY_NAME="Admin"
USER_USERNAME="asrin"
USER_ALIAS="asrın"
USER_PASSWORD="change-me"
USER_DISPLAY_NAME="Kullanıcı"
